// Grid
//
// The grid is base on devision by 12.
//
// Styleguide Shared.grid

// 2 column grid
//
// Markup: shared/kss-markup--grid-2-column.html
//
// Styleguide Shared.grid.1

// 3 column grid
//
// Markup: shared/kss-markup--grid-3-column.html
//
// Styleguide Shared.grid.2

// Mixed column grid
//
// Markup: shared/kss-markup--grid-mixed-column.html
//
// Styleguide Shared.grid.3

.grid {
  margin: -6px;
  padding: 0 0 24px;
  &:last-child {
    padding: 0;
  }
}

.grid__column {
  padding: 6px;
  float: left;

  // TODO: Remove this
  @media (max-width: $screen-min) {
    width: 100%!important;
  }
}

.grid--responsive-margin-24 {
  @media (max-width: $screen-min) {
    .grid__column{
      margin-bottom: 12px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}


// Generates 12 grid columns e.g .grid_column--3
$grid-columns: 12;

.grid__column {
	@for $i from 1 to $grid-columns {
	  &--#{$i} {
		width: ( 100% / $grid-columns ) * $i;
	   }
	}
}

.grid__column--12 {
  width: 100%;
}


// Line break
//
// To make sure every column is on the right line add .grid__column--break to every first coulmn of the line.
// It's to make sure that every column is inline nomatter of it's height.
//
// .grid__column--break - Forces a line break on a column.
//
// Markup: shared/kss-markup--grid-line-break.html
//
// Styleguide Shared.grid.4

.grid__column--break{
  clear: left;
}



// Responsive grid
// 
// The responsive grid applies a single-column layout for small screens (e.g. Mobile devices), 
// then modifiers can be added to the column element to apply different grid rules 
// for medium-width screens (--md-[1-12]) and/or large-width screens (--lg-[1-12])
//
// Markup: shared/kss-markup--grid-responsive.html
//
// Styleguide grid.5

.grid--responsive {
  @include clearfix();

  margin: 0;

  @include mw-screen-mob() {
    margin-left: -8px;
    margin-right: -8px;

    &.grid-spacing--16 {
      margin-left: -16px;
      margin-right: -16px;
    }
  }
}

// Spaced grid
// 
// Grid spacing can be increase by using the `grid-spacing--16` modifier on both the `grid` and `grid_col` elements
//
// Markup: shared/kss-markup--grid-responsive-spacing.html
//
// Styleguide grid.6

// Nested grid
// 
// The nested grid allows an existing grid column to be broken up into columns independent of the parent element
//
// Markup: shared/kss-markup--grid-nested.html
//
// Styleguide grid.7

.grid--nested {
    padding: 0;
    margin-top: 24px;
}

// Shorten to col to avoid naming clashes
.grid__col {
	float:left;
	width: 100%;

    @include mw-screen-mob() {
      padding-left: 8px;
      padding-right: 8px;
        
      &.grid-spacing--16 {
        padding-left: 16px;
        padding-right: 16px;
      }
    }
}

// --- Medium-up grid
//  e.g .grid__col--md-6
@include mw-screen-mob() {
	@for $i from 1 to $grid-columns {
		.grid__col {
			&--md-#{$i} {
				width: ( 100% / $grid-columns ) * $i;
			}
		}
	}
}

// --- Large-up grid
//  e.g .grid__col--lg-4
@include mw-screen-med() {
	@for $i from 1 to $grid-columns {
		.grid__col {
			&--lg-#{$i} {
				width: ( 100% / $grid-columns ) * $i;
			}
		}
	}
}

