
//App switcher main
.app-switcher {
  position: absolute;
  top: 40px;
  left: 40px;

  z-index: 100;

  display: none;
  width: 100%;
  max-width: 800px;

  min-height: 400px;

  background-color: $white;
}

.app-switcher--visible {
  display: block;
}

.app-switcher__header {}

.app-switcher__footer {}

.app-switcher__content {}
