
//App switcher main
.app-switcher {
  position: absolute;
  top: 40px;
  left: 40px;

  z-index: 100;

  display: none;
  width: 100%;
  max-width: 800px;

  min-height: 400px;

  background-color: $white;
}

.app-switcher--visible {
  display: block;
}

.app-switcher__header {}

.app-switcher__footer {}

.app-switcher__content {}

// App Groups
.app-group {
  user-select: none;
}

.app-group__heading {}

.app-group__content {
  min-height: 100px;
  background-color: grey;
}

.app-group__content--over {

}

// App Draggable elements
.app-switcher-app {
  display: block;
  width: 50px;
  height: 50px;
  float: left;

  background-color: red;
  margin-right: 10px;
}

[draggable] {
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.app-switcher-app--dragging {
  opacity: 0.4;
}

.app-switcher-app--drag-over {
  transform: scale(1.1);
}
