// Raygun Layouts

// Layout Variables

html {
  height: 100%;
  min-width: 320px;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #eee;
}


.layout {
  position: relative;
  min-height: 100%;
  @include screen-min {
    padding-bottom: 0;
  }
}

.layout__switcher {
  position: fixed;
  z-index: 15;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 56px 12px;
  background: rgba($color-stealth,0.6);

  opacity: 0;
  transition: opacity 200ms ease-out;
}

.layout__switcher--visible {
  opacity: 1;
}

.layout__header {
  display: block;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  height: 48px;
  width: 100%;
  background: $color-byzantine;
}
.layout__sidebar {
  position: fixed;
  z-index: 4;
  width: 220px;
  height: 100%;
  background: $color-stealth;
}

.layout__content {}

.layout__footer {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  height: 48px;
  width: 100%;
  background: $color-grey;
}

.header-button {
  width: 220px;
  height: 48px;
  position: relative;
  color: rgba(white,0.8);
  padding: 0 56px;
  background: rgba(black,0.3);
  &:hover {
    color: white;
    background: rgba(black,0.2);
  }
  &:active {
    color: white;
    background: rgba(black,0.4);
  }
}
.header-button__avatar {
  cursor: pointer;
  position: absolute;
  top: 12px;
  left: 12px;
  width: 24px;
  height: 24px;
  background: white;
  border-radius: 4px;
}
.header-button__name {
  line-height: 48px;
  font-size: 16px;
  font-weight: bold;
  font-size: 14px;
}
.header-button__icon {
  padding: 16px;
  position: absolute;
  top: 0;
  right: 0;
}

.layout__switcher--hidden {
  visibility: hidden;
}

.switcher {
  transform: translate(0,24px);
  transition: transform 200ms ease-out;
}

.switcher--visible {
  transform: translate(0,0);
}
