// Flat icons

// FlatIcons
@font-face {
  font-family: 'flaticons';
  src: url('../fonts/flat-stroke/flaticons-stroke.eot');
  src: url('../fonts/flat-stroke/flaticons-stroke.eot?#iefix') format("embedded-opentype"),
       url('../fonts/flat-stroke/flaticons-stroke.ttf') format('truetype'),
       url('../fonts/flat-stroke/flaticons-stroke.svg#flaticons-stroke') format('svg');
  font-weight: normal;
  font-style: normal;
}

// flat-icon
.flat-icon:before {
  font-family: 'flaticons';
  font-weight: normal;
  vertical-align: middle;
}

// -- icons
.icon--search:before {content: '\e45a';}
.icon--person:before {content: '\e4b0';}
.icon--abc:before {content: '\e4bc';}
.icon--recent:before {content: '\e499';}
.icon--custom:before {content: '\e49e';}
.icon--trash:before {content: '\e481';}
.icon--move:before {content:'\e58e';}
.icon--change:before {content:'\e586';}
.icon--change:before {content:'\e5a5';}
